/* Stylesheet for Optegra */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700');


html, body {
	width: 100vw;
	height: 100vh;
	margin: 0px;
	padding: 0px;
	font-family: 'Montserrat', sans-serif;
	overflow-x: hidden; 
}

#m1 {
	background: url(img/m1_mobile.png);
	height: 500px;
	width: 100%;
	position: relative;
	z-index: 5;
}

#m2 {
	background: white;
	height: 1550px;
	width: 100%;
	z-index: 4;
	padding-top: 10%;
}

#m3 {
	background: url(img/m3_m.png);
	height: 705px;
	width: 100%;
	position: relative;
	z-index: 5;
	padding-top: 10%;
}

#m4 {
	background: url(img/m4_m.png) no-repeat;
	height: 1200px;
	width: 100%;
	position: relative;
	z-index: 2;
	padding-top: 10%;
}

#m5 {
	background: white;
	height: 650px;
	width: 100%;
	position: relative;
	z-index: 3;
	padding-top: 10%;
}

#m6 {
	background: url(img/m6.png);
	height: 1000px;
	width: 100%;
	position: relative;
	z-index: 1;
	padding-top: 10%;
}

#m7 {
	background: url(img/m4_m.png);
	height: 1100px;
	width: 100%;
	position: relative;
	z-index: 2;
	margin-top: -200px;
	padding-top: 100px;
}

#m8 {
	background: white;
	height: 900px;
	width: 100%;
	z-index: 4;
}

#footer {
	background: white;
	width: 100%;
	height: 600px;
	position: relative;
	z-index: 3;
	margin-top: 30%;
}

.icon_bar {
	text-align: left;
	padding: auto;
	margin-left: 20px;
}
img.logo {
	display: block;
	padding-top: 20px;
	margin: auto;
	width: 40%;
	height: auto;
}

.icon_bar2 {
	text-align: center;
}

#m1_box {
	width: 100vw;
	margin: auto;
	padding: 20px;
}

.m1_box_inner {
	padding-top: 70px;
	width: 100vw;
	float: left;
}

.m1_box_inner2 {
	padding-top: 70px;
	width: 50vw;
	float: right;
	margin-top: -140px;
}

.m1_box_frame {
	padding: 2%;
	background: rgba(255,255,255,0.7);
	border-radius: 5%;
	height: 550px;
	width: 96%;
}

.m1_box2_frame2 {
	background: rgba(255,255,255,1);
	border-radius: 5%;
	height: 100%;
	width: 100%;
}

.m1_box2_frame2_inner {
	font-weight: normal;
	font-size: 25px;
	padding: 5%;
	text-align: center;
}

.m2_box {
	width: 100%;
	float: auto;
	text-align: left;
	padding: 20px;
}

.m3_box {
	width: 40%;
	float: left;
	text-align: left;
	padding: 20px;
}

.m3_box2 {
	width: 40%;
	float: left;
	padding-left: 18%;
	text-align: left;
}

.m4_box {
	width: 100%;
	text-align: center;
}

.m4_box2 {
	width: 25%;
	float: left;
	text-align: center;
	margin-left: 20px;
}

.m5_box {
	width: 50%;
	text-align: center;
	background: white;
	border-radius: 10px 10px 0 0;
	height: 100px;
	border: 1px solid #40e7d0;
	margin: auto;
	padding: auto;
}

.m5_box3 {
	width: 50%;
	text-align: center;
	background: #40e7d0;
	border-radius: 0 0 10px 10px;
	height: 80px;
	border: 1px solid #40e7d0;
	margin: auto;
	padding: auto;
}

.m6_box {
	width: 100%;
	text-align: left;
	margin-left: 20px;
}

.m6_box2 {
	width: 25%;
	float: left;
	text-align: left;
}

.m7_box {
	width: 83%;
	float: right;
	margin-top: 12%;
}

.m7_box_frame {
	padding: 2%;
	background: rgba(255,255,255,0.7);
	border-radius: 5%;
	height: 700px;
	width: 96%;
}

.m7_box2_frame2 {
	background: rgba(255,255,255,1);
	border-radius: 5%;
	height: 100%;
	width: 100%;
}

.m7_box2_frame2_inner {
	font-weight: normal;
	font-size: 25px;
	padding: 5%;
	text-align: center;
}
	
.m7_box_frame2_inner2 {
	font-weight: normal;
	font-size: 25px;
	padding: 5%;
	text-align: left;
	width: 40%;
	float: right;
}

.footer_box {
	width: 100%;
	text-align: center;
}

.footer_box2 {
	width: 20%;
	float: right;
	text-align: center;
	padding-top: 100px;
}

hr.light {
	width: 30px;
	background: white;
	height: 1px;
}

hr.light_left {
	width: 30px;
	background: white;
	height: 1px;
	margin-left: 0;
	text-align: left;
}

hr.dark {
	width: 30px;
	background: black;
	height: 1px;
}

hr.dark_left {
	width: 30px;
	background: black;
	height: 1px;
	text-align: left;
	margin-left: 0;
}

p.header {
	font-size: 30px;
	margin-top: 10px;
	margin-bottom: 0px;
	font-weight: 700;
}

p.smallest {
	float: right;
	text-align: left;
	color: white;
	font-size: 10px;
	margin-right: 10%;
}

p.header_white {
	font-size: 30px;
	font-weight: 900;
	margin-top: 10px;
	color: white;
	margin-bottom: 0px;
}

p.bigger {
	font-size: 30px;
	color: white;
	padding: 0;
	margin: 0;
}

p.big {
	font-size: 23px;
	color: #40e7d0;
}

p.promo {
	font-size: 30px;
	color: #40e7d0;
}

p.promo_white {
	font-size: 30px;
	color: white;
}

p.medium {
	font-size: 26px;
}

p.medium_white {
	font-size: 26px;
	color: white;
}


p.book {
	font-size: 22px;
	font-weight: 900;
	color: #40e7d0;
}

p.standard {
	font-size: 22px;
	font-weight: 900;
	color: #40e7d0;
}	

p.small {
	font-size: 18px;
}

p.small_white {
	font-size: 18px;
	color: white;
}

p.smaller {
	font-size: 17px;
}

p.smaller_m5 {
	font-size: 13px;
	color: #40e7d0;
	margin-top: -20px;
}

p.smaller_white {
	font-size: 17px;
	color: white;
}

p.tiny {
	font-size: 1vh;
	text-align: left;
	padding: 0 5%;
}

input {
	width: 75%;
	height: 50px;
	border-radius: 25px;
	border: 1px solid lightblue;
	background: light#40e7d0;
	padding: 10px 40px;
	margin-bottom: 10px;
	font-weight: bold;
	color: #40e7d0;
	font-size: 15px;
}

input[type=submit] {
	width: 100%;
	height: 50px;
	border-radius: 25px;
	background: #f85b90;
	border: 1px solid #f85b90;
	color: white;
	font-weight: bold;
	margin-top: 30px;
}

button.m1 {
	width: 100%;
	height: 50px;
	border-radius: 25px;
	background: #f85b90;
	border: 1px solid #f85b90;
	color: white;
	font-weight: bold;
	margin-right: -600px;
}

button.book {
	width: 80%;
	height: 50px;
	border-radius: 25px;
	background: #f85b90;
	border: 1px solid #f85b90;
	color: white;
	font-weight: bold;
	margin: 5%;
	margin-top: 0px;
}

button.standard {
	width: 30%;
	height: 50px;
	border-radius: 25px;
	background: #40e7d0;
	border: 1px solid white;
	color: white;
	font-weight: bold;
}

button.doctor {
	width: 60%;
	height: 50px;
	border-radius: 25px;
	background: white;
	border: 1px solid #40e7d0;
	color: #40e7d0;
	font-weight: bold;
}

button.big {
	width: 250px;
	height: 80px;
	border-radius: 10px;
	background: #f85b90;
	border: 1px solid #f85b90;
	color: white;
	padding: 5px 10px;
	font-size: 22px;
	text-align: left;
	float: right;
	margin-right: 20px;
}

button.big_m1 {
	width: 230px;
	height: 75px;
	border-radius: 10px;
	background: #f85b90;
	border: 1px solid #f85b90;
	color: white;
	padding: 5px 10px;
	font-size: 22px;
	text-align: left;
	float: right;
	margin-right: 20px;
	margin-top: -30px;
	z-index: 0;
	position: relative;
}

button.footer {
	width: 250px;
	height: 60px;
	border-radius: 10px;
	background: #40e7d0;
	border: 1px solid #40e7d0;
	color: white;
	padding: 10px;
	font-size: 15px;
	text-align: center;
}

img.m_arrow_l {
	margin-top: 100px; 
	float: left; 
	padding-left: 5%;
}

img.m_arrow_r {
	margin-top: 100px; 
	float: right; 
	padding-right: 5%;
}

img.m_arrow_up {
	float: right; 
	padding-right: 20%;
	margin-top: 15px;
}

img.m_arrow_down {
	float: right; 
	padding-right: 20%;
	margin-top: 15px;
}

img.arrow_b_r {
	float: right;
	padding-right: 5%;
	margin-top: 60px;
}

img.arrow_b_l {
	float: left;
	padding-left: 5%;
	margin-top: 60px;
}

img.arrow_b_r2 {
	float: right;
	padding-right: 5%;
	margin-top: 30px;
}

img.arrow_b_l2 {
	float: left;
	padding-left: 5%;
	margin-top: 30px;
}

img.user {
	padding-left: 5%;
}

img.pani {
	position: relative; 
	width: 200px; 
	height: 300px; 
	margin-top: -300px;
	float: right;
}

.user--container {
	float: right;
	margin-right: 30%;
	margin-top: -110px;
}