/* Stylesheet for Optegra */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700');


body {
	width: 100%;
	margin: 0px;
	position: relative;
	font-family: 'Montserrat', sans-serif;;
}

#m1 {
	background: url(img/m1.png);
	height: 880px;
	width: 100%;
	position: relative;
	z-index: 5;
}

#m2 {
	background: url(img/m2.png);
	height: 1050px;
	width: 100%;
	z-index: 4;
	margin-top: -140px;
	padding-top: 140px;
}

#m3 {
	background: url(img/m3.png);
	height: 850px;
	width: 100%;
	position: relative;
	z-index: 5;
	margin-top: -130px;
	padding-top: 200px;
}

#m4 {
	background: url(img/m4.png);
	height: 1000px;
	width: 100%;
	position: relative;
	z-index: 2;
	margin-top: -180px;
	padding-top: 110px;
}

#m5 {
	background: url(img/m5.png);
	height: 900px;
	width: 100%;
	position: relative;
	z-index: 3;
	padding-top: 150px;
	margin-top: -85px;
}

#m6 {
	background: url(img/m6.png);
	height: 1150px;
	width: 100%;
	position: relative;
	z-index: 1;
	margin-top: -110px;
	padding-top: 150px;
}

#m7 {
	background: url(img/m7.png);
	height: 1050px;
	width: 100%;
	position: relative;
	z-index: 2;
	margin-top: -100px;
}

#footer {
	background: url(img/footer.png);
	width: 100%;
	height: 400px;
	position: relative;
	z-index: 3;
	margin-top: -150px;
	padding-top: 250px;
}

.icon_bar {
	text-align: center;
}

.content {
	width: 62%;
	margin: auto;
}

.content_m3 {
	width: 48%;
	margin: auto;
}

#m1_box {
	width: 50%;
	float: left;
	padding-top: 10%;
}

.m1_box_inner {
	width: 60%;
}

#m1_box2 {
	width: 50%;
	float: right;
}

.m1_box2_frame {
	padding: 0 2% 2% 2%;
	background: rgba(255,255,255,0.7);
	border-radius: 0 0 5% 5%;
	height: 730px;
	width: 80%;
	float: right;
}

.m1_box2_frame2 {
	background: rgba(255,255,255,1);
	border-radius: 0 0 5% 5%;
	height: 100%;
	width: 100%;
}

.m1_box2_frame2_inner {
	font-weight: normal;
	font-size: 25px;
	padding: 5%;
	text-align: center;
}

.m2_box {
	width: 25%;
	padding-right: 11%;
	float: left;
	text-align: left;
}

.m2_box2 {
	width: 25%;
	float: left;
	text-align: left;
}

.m3_box {
	width: 40%;
	float: left;
	text-align: left;
	padding-left: 1.5%;
}

.m3_box2 {
	width: 40%;
	float: left;
	padding-left: 18%;
	text-align: left;
}

.m4_box {
	width: 25%;
	padding-right: 11%;
	float: left;
	text-align: center;
}

.m4_box2 {
	width: 25%;
	float: left;
	text-align: center;
}

.m5_box {
	width: 17.5%;
	margin-right: 3.25%;
	float: left;
	text-align: center;
	background: white;
	border-radius: 10px 10px 0 0;
	height: 15%;
}

.m5_box2 {
	width: 17%;
	float: left;
	text-align: center;
	background: white;
	border-radius: 10px 10px 0 0;
	height: 15%;
}

.m5_box3 {
	width: 17.5%;
	margin-right: 3.25%;
	float: left;
	text-align: center;
	background: rgba(255,255,255,0.5);
	border-radius: 0 0 10px 10px;
	height: 10%;
}

.m5_box4 {
	width: 17%;
	float: left;
	text-align: center;
	background: rgba(255,255,255,0.5);
	border-radius: 0 0 10px 10px;
	height: 10%;
}

.m6_box {
	width: 25%;
	padding-right: 11%;
	float: left;
	text-align: left;
}

.m6_box2 {
	width: 25%;
	float: left;
	text-align: left;
}

.m7_box {
	width: 83%;
	float: right;
	margin-top: 12%;
}

.m7_box_frame {
	padding: 2%;
	background: rgba(255,255,255,0.7);
	border-radius: 5%;
	height: 650px;
	width: 80%;
	float: right;
}

.m7_box_frame2 {
	background: rgba(255,255,255,1);
	border-radius: 5%;
	height: 100%;
	width: 100%;
}

.m7_box_frame2_inner {
	font-weight: normal;
	font-size: 25px;
	padding: 2% 5%;
	text-align: left;
	width: 40%;
	float: left;
}

.m7_box_frame2_inner2 {
	font-weight: normal;
	font-size: 25px;
	padding: 5%;
	text-align: left;
	width: 40%;
	float: right;
}

.footer_box {
	width: 25%;
	padding-right: 15%;
	float: left;
	text-align: center;
	padding-top: 100px;
}

.footer_box2 {
	width: 20%;
	float: right;
	text-align: center;
	padding-top: 100px;
}

hr.light {
	width: 30px;
	background: white;
	height: 1px;
}

hr.light_left {
	width: 30px;
	background: white;
	height: 1px;
	margin-left: 0;
	text-align: left;
}

hr.dark {
	width: 30px;
	background: black;
	height: 1px;
}

hr.dark_left {
	width: 30px;
	background: black;
	height: 1px;
	text-align: left;
	margin-left: 0;
}

p.header {
	font-size: 70px;
	margin-top: 10px;
	margin-bottom: 0px;
	font-weight: 700;
}

p.header_white {
	font-size: 70px;
	font-weight: 900;
	margin-top: 10px;
	color: white;
	margin-bottom: 0px;
}

p.big {
	font-size: 40px;
	color: #40e7d0;
}

p.big_white {
	font-size: 40px;
	color: white;
}

p.promo {
	font-size: 28px;
	color: #40e7d0;
}

p.medium {
	font-size: 24px;
}

p.medium_white {
	font-size: 24px;
	color: white;
}


p.book {
	font-size: 20px;
	font-weight: 900;
	color: #40e7d0;
}

p.standard {
	font-size: 20px;
	font-weight: 900;
	color: white;
}	

p.small {
	font-size: 18px;
}

p.small_white {
	font-size: 18px;
	color: white;
}

p.smaller {
	font-size: 13px;
}

p.smaller_m5 {
	font-size: 13px;
	color: #40e7d0;
	margin-top: -20px;
}

p.smaller_white {
	font-size: 13px;
	color: white;
}

p.tiny {
	font-size: 9px;
	text-align: left;
	padding: 0 5%;
}

input {
	width: 75%;
	height: 50px;
	border-radius: 25px;
	border: 1px solid lightblue;
	background: light#40e7d0;
	padding: 10px 40px;
	margin-bottom: 10px;
	font-weight: bold;
	color: #40e7d0;
	font-size: 15px;
}

input[type=submit] {
	width: 250px;
	height: 50px;
	border-radius: 25px;
	background: #f85b90;
	border: 1px solid #f85b90;
	color: white;
	font-weight: bold;
	margin: 5%;
}

button.m1 {
	width: 100%;
	height: 50px;
	border-radius: 25px;
	background: #f85b90;
	border: 1px solid #f85b90;
	color: white;
	font-weight: bold;
}

button.book {
	width: 20%;
	height: 50px;
	border-radius: 25px;
	background: #f85b90;
	border: 1px solid #f85b90;
	color: white;
	font-weight: bold;
	margin: 5%;
}

button.standard {
	width: 60%;
	height: 50px;
	border-radius: 25px;
	background: white;
	border: 1px solid white;
	color: #40e7d0;
	font-weight: bold;
}

button.doctor {
	width: 60%;
	height: 50px;
	border-radius: 25px;
	background: white;
	border: 1px solid #40e7d0;
	color: #40e7d0;
	font-weight: bold;
}

button.big {
	width: 250px;
	height: 80px;
	border-radius: 10px;
	background: #f85b90;
	border: 1px solid #f85b90;
	color: white;
	padding: 5px 10px;
	font-size: 22px;
	text-align: left;
}

button.footer {
	width: 250px;
	height: 60px;
	border-radius: 10px;
	background: #40e7d0;
	border: 1px solid #40e7d0;
	color: white;
	padding: 10px;
	font-size: 15px;
	text-align: center;
}

#regulamin {
	display: none;
}

img.arrow_l {
	float: left;
	padding: 150px;
	margin-top: 300px;
}

img.arrow_r {
	float: right;
	padding: 150px;
	margin-top: 300px;
}